const button1 = {
	mac: 'xx:xx:xx:xx:xx:xx',
	coffeeType: 'Medium Roast',
	networkInterface: 'eth0'
}

const config = {};

const BUTTONS = [button1];
const REST_API = true;
const REST_API_URL = "http://mywebsite.com/coffee/index.php";
const REST_API_HEALTH_URL = "http://mywebsite.com/coffee/hipchat-request.php";

const REST_URL = 'http://mycompany.com/coffee/index.php';
const BREW_TIME = 5;
const PULL_INTERVAL = 30;
const HIPCHAT_URL = 'http://hipchat.mycompany.com/hipchat/user';
const EMAIL_SUFFIX = '@mycompany.com';
const HIPCHAT_ROOM = '1111111';
const HIPCHAT_ROOM_URL = 'https://mycompany.hipchat.com';
const HIPCHAT_AUTH_TOKEN = 'auth_token_here';
const HIPCHAT_INDIVIDUAL_USERS = ['user.name'];
const DB_CONFIG = config;

const HIPCHAT_TEXT_MESSAGE = [
								'Please drink responsibly.',
								'As Kevin says - Just give me my caffeine and nobody gets hurt!',
								'Coffee can’t cure everything, but it can cure the mornings!',
								'Error running WAKEUP.BAT: COFFEE.INI not found.',
								'Coffee, like life… One sip at a time.',
								'Death before decaf!!!',
								'Bean me up!',
								'COFFEE : Cup OF Finest Enjoyment Ever!',
								'Hello. My name is Laura and I’m a coffeeholic. It’s been 38 seconds since my last sip.',
								'Nothing really can be said after the first sip but a desiringly quiet utter of, “mmmm, coffeeee”.',
								'Coffee, all the goodness of life in a cup.',
								'Coffee is like drinking sunshine!',
								'Latte is French for “You just paid too much for your coffee”.',
								'OCD: Obsessive Coffee Disorder',
								'SHHHH My coffee and I are having a moment.  I’ll deal with you later.',
								'Not to get technical, but according to chemistry, coffee is a solution.',
								'It’s not procrastinating if you’re drinking coffee, it’s procaffinating.',
								'Coffee is the foundation of my food pyramid.'
							];

module.exports = {
	BUTTONS,
	REST_API,
	REST_API_URL,
	REST_URL,
	BREW_TIME,
	PULL_INTERVAL,
	HIPCHAT_URL,
	EMAIL_SUFFIX,
	HIPCHAT_ROOM,
	HIPCHAT_ROOM_URL,
	REST_API_HEALTH_URL,
	HIPCHAT_AUTH_TOKEN,
	HIPCHAT_INDIVIDUAL_USERS,
	HIPCHAT_TEXT_MESSAGE
};
